:root { --brand:#00c853; }
.btn-success { background-color: var(--brand); border-color: var(--brand);} 
.btn-success:hover { filter: brightness(0.95);} 
.leaflet-popup-content-wrapper, .leaflet-control-layers-expanded { background:#0f0f0f; color:#eaeaea; }
.leaflet-bar a, .leaflet-control-zoom a { background:#0f0f0f; color:#eaeaea; border-color:#333; }
.leaflet-container { background:#0b0b0b; }
